<form class="flexcol saga-machine {{cssClass}} npc-sheet" autocomplete="off">

    {{!-- Sheet Sidebar --}}
    {{>  systems/saga-machine/templates/partials/character-sidebar.html}}

    {{!-- Sheet Header --}}
    {{>  systems/saga-machine/templates/partials/character-header.html}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="advancement">Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		<div class="tab basics" data-group="primary" data-tab="basics">
            <div class="initiative float-right">
                <label class="score-label combat-top rollable" title="Defense Test" data-type="Test" data-score="defense" data-whisper="true" data-consequences='{"type": "defense"}'>Defense <i class="fas fa-shield-alt"></i></label>
            </div>
            <h3>Attacks</h3>
			<ol class="items-list">
				<li class="item attack-row items-header">
					<div class="item-name">Name</div>
                    <div class="item-name">Test / Effect</div>
                    <div class="item-name">Properties</div>
				</li>

				{{#each data.system.attacks as |attack|}}
					<li class="item attack-row" data-type="Item" data-uuid="{{ attack.item.uuid }}">
                        <div class="item-name attack-name">
                            <span class="item-img rollable" data-type="Test" data-stat="{{ attack.stat }}" data-skill="{{ attack.skill }}" data-tn="{{ attack.tn }}" data-properties="{{ attack.properties }}" data-consequences='{{ consequences_string }}'>
                                <img class="item-img" src="{{ attack.item.img }}" title="Test {{ attack.full_name }}" />
                                <img class="item-img" src="systems/saga-machine/images/d10.svg" title="{{ attack.full_name }} Test" />
                            </span>
                            <span class="expandable">{{ attack.full_name }}</span>
                        </div>
                        <div class="item-name attack-effect">{{ attack.label }} {{#if attack.effect }}({{{ attack.effect }}}){{/if}}</div>
                        <div class="item-name attack-properties">{{ attack.properties }}</div>
                        <div class="item-description">{{{ attack.item.system.description }}}</div>
					</li>
				{{/each}}
			</ol>

            <div class="item-controls float-right">
                <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Add</a>
            </div>
            <h3>Skills</h3>
            <div class="items-inline">
                <span class="item">
                    <em><span class="item-name rollable" data-stat="strength">Skilled</span></em>,
                </span>
                <span class="item">
                    <em><span class="item-name rollable" data-stat="strength" data-skill="Unskilled">Unskilled</span></em>
                </span>
                {{#if data.system.skills.length}}<span class="item">|</span>{{/if}}
                {{#each data.system.skills as |skill|}}
                    <span class="item" data-id="{{ skill._id }}" data-type="Item" data-uuid="{{ skill.uuid }}">
                        <span class="item-name rollable" data-type="Test" data-stat="{{ skill.system.default }}" data-skill="{{ skill.system.full_name }}">
                            {{ skill.system.full_name }} {{ skill.system.rank }}
                        </span>{{#unless @last}},{{/unless}}
                    </span>
                {{/each}}
            </div>

            {{#if data.system.restricted_skills.length}}
                <h3>Restricted Skills</h3>
                <div class="items-inline">
                    {{#each data.system.restricted_skills as |skill|}}
                        <span class="item" data-id="{{ skill._id }}" data-type="Item" data-uuid="{{ skill.uuid }}">
                            <span class="item-name rollable" data-type="Test" data-stat="{{ skill.system.default }}" data-skill="{{ skill.system.full_name }}">
                                {{ skill.system.full_name }} {{ skill.system.rank }}
                            </span>{{#unless @last}},{{/unless}}
                        </span>
                    {{/each}}
                </div>
            {{/if}}

            <div class="item-controls float-right">
                <a class="item-control item-create" title="Create trait" data-type="trait"><i class="fas fa-plus"></i> Add</a>
            </div>
            <h3>Traits</h3>
            <div class="items-inline">
                {{#unless data.system.traits.length}}<span class="item-name">None</span>{{/unless}}

                {{#each data.system.traits as |trait|}}
                    <span class="item" data-id="{{ trait._id }}" data-type="Item" data-uuid="{{ trait.uuid }}">
                        <span class="item-name expandable">{{ trait.system.full_name }}</span>{{#unless @last}},{{/unless}}
                    </span>
                {{/each}}
                {{#each data.system.traits as |trait|}}
                    <div class="item-description" data-id="{{ trait._id }}">{{{ trait.system.description }}}</div>
                {{/each}}
            </div>

            {{#if data.system.weaknesses.length}}
                <h3>Weaknesses</h3>
                <div class="items-inline">
                    {{#each data.system.weaknesses as |weakness|}}
                        <span class="item" data-id="{{ weakness._id }}" data-type="Item" data-uuid="{{ weakness.uuid }}">
                            <span class="item-name expandable">{{ weakness.system.full_name }}</span>{{#unless @last}},{{/unless}}
                        </span>
                    {{/each}}
                {{#each data.system.weaknesses as |weakness|}}
                    <div class="item-description" data-id="{{ weakness._id }}">{{{ weakness.system.description }}}</div>
                {{/each}}
                </div>
            {{/if}}

			<h3>Consequences</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Name</div>
					<div class="item-prop">Value</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="consequence"><i class="fas fa-plus"></i> Add</a>
					</div>
				</li>

				{{#each data.system.consequences as |consequence|}}
					<li class="item flexrow" data-id="{{ consequence._id }}" data-type="Item" data-uuid="{{ consequence.uuid }}">
                        <h4 class="item-name">
                            <span class="chatable item-img">
                                <img class="item-img" src="{{ consequence.img }}" title="Display {{ consequence.system.full_name }}" />
                                <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ consequence.system.full_name }}" />
                            </span>
                            <span class="expandable">{{ consequence.system.full_name }}</span>
                        </h4>
						<input class="item-input item-prop" type="number" name="system.rank" value="{{ consequence.system.rank }}" step="1" data-dtype="Number" />
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
                        <div class="item-description">{{{ consequence.system.description }}}</div>
					</li>
				{{/each}}
			</ol>
		</div>

		<div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="inventory-top">
                <h3>Wealth</h3>
                <div class="grid grid-4col">
                    <label class="item-label" for="system.wealth.lifestyle">Lifestyle</label>
                    <select class="score-select" name="system.wealth.lifestyle">
                        {{#select data.system.wealth.lifestyle}}
                            <option value="Broke">Broke</option>
                            <option value="Poor">Poor</option>
                            <option value="Struggling">Struggling</option>
                            <option value="Average">Average</option>
                            <option value="Comfortable">Comfortable</option>
                            <option value="Wealthy">Wealthy</option>
                            <option value="Very Wealthy">Very Wealthy</option>
                            <option value="Filthy Rich">Filthy Rich</option>
                        {{/select}}
                    </select>
                    <label class="item-label" for="system.wealth.money">Money</label>
                    <input class="money-input" type="number" name="system.wealth.money" value="{{ data.system.wealth.money }}" step="1" data-dtype="Number" />
                </div>

                <h3>Equipment</h3>
                <ol class="items-list">
                    <li class="item flexrow items-header">
                        <div class="item-name">Name</div>
                        <div class="item-name">Properties</div>
                        <div class="item-prop">Quantity</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>

                    {{#each data.system.equipment as |item|}}
                        <li class="item flexrow" data-id="{{ item._id }}" data-type="Item" data-uuid="{{ item.uuid }}">
                            <h4 class="item-name">
                                <span class="chatable item-img">
                                    <img class="item-img" src="{{ item.img }}" title="Display {{ item.system.full_name }}" />
                                    <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ item.system.full_name }}" />
                                </span>
                                <span class="expandable">{{ item.system.full_name }}</span>
                            </h4>

                            <div class="item-name">{{item.system.properties}}</div>
                            <input class="item-input item-prop" type="number" name="system.quantity" value="{{ item.system.quantity }}" step="1" data-dtype="Number" />
                            <div class="item-controls">
                                {{#if (is_weapon item) }}
                                    <a class="item-control item-equip {{#unless item.system.equipped }}unequipped{{/unless}}" title="Equip Item"><i class="fa-solid fa-hand-back-fist"></i></a>
                                {{/if}}
                                {{#if (is_armor item) }}
                                    <a class="item-control item-equip {{#unless item.system.equipped }}unequipped{{/unless}}" title="Equip Item"><i class="fas fa-tshirt"></i></a>
                                {{/if}}
                                <a class="item-control item-carry {{#unless item.system.carried }}unequipped{{/unless}}" title="Carry Item"><i class="fas fa-shopping-bag"></i></a>
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-description">{{{ item.system.description }}}</div>
                        </li>
                    {{/each}}
                </ol>
            </div>

            <div class="score encumbrance">
                <progress name="encumbrance-bar" value="{{ data.system.scores.encumbrance.value }}" max="{{ data.system.scores.encumbrance.max }}"></progress>
                <label class="score-secondary" name="system.scores.encumbrance.max" for="encumbrance-bar">Encumbrance {{ data.system.scores.encumbrance.value }} / {{ data.system.scores.encumbrance.max }}</label>
            </div>
		</div>

        <div class="tab advancement" data-group="primary" data-tab="advancement">
            <div class="character-notes">
                <h3>Notes</h3>
                {{editor data.system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>

            {{#if (is_GM) }}
                <div class="gm-notes">
                    <h3>GM Notes</h3>
                    {{editor data.system.gmnotes target="system.gmnotes" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            {{/if}}
    	</div>
    </section>
</form>