<form class="flexcol saga-machine {{cssClass}} pc-sheet" autocomplete="off">

    {{!-- Sheet Sidebar --}}
    {{>  systems/saga-machine/templates/partials/character-sidebar.html}}

    {{!-- Sheet Header --}}
    {{>  systems/saga-machine/templates/partials/character-header.html}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="advancement">Advancement</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		<div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid">
                <div class="grid-col">

                    {{#each data.system.skill_groups as |skills|}}
                        <h3 title="{{ ../data.system.experiences.spent_skills }} experiences spent on skills">{{ skills.name }}</h3>
                        <ol class="items-list skill-list">
                            <li class="item flexrow items-header">
                                <div class="item-name">Name</div>
                                <div class="item-prop">Rank</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="skill" data-system='{"group": "{{ skills.name }}"}'><i class="fas fa-plus"></i> Add</a>
                                </div>
                            </li>

                            {{#each skills.contents as |skill|}}
                                <li class="item flexrow" data-id="{{ skill._id }}" data-type="Item" data-uuid="{{ skill.uuid }}">
                                    <h4 class="item-name">
                                        <span class="item-img rollable" data-type="Test" data-stat="{{ skill.system.default }}" data-skill="{{ skill.system.full_name }}">
                                            <img class="item-img" src="{{ skill.img }}" title="Test {{ skill.name }}" />
                                            <img class="item-img" src="systems/saga-machine/images/d10.svg" title="{{ skill.name }} Test" />
                                        </span>
                                        <span class="expandable">{{ skill.system.full_name }}</span>
                                    </h4>
                                    <input class="item-input item-prop" type="number" data-name="system.rank" value="{{ skill.system.rank }}" step="1" data-dtype="Number" />
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                    <div class="item-description">{{{ skill.system.description }}}</div>
                                </li>
                            {{/each}}

                            {{#if @first}}
                                <li class="item flexrow">
                                    <h4 class="item-name">
                                        <span class="item-img rollable" data-type="Test" data-stat="strength" data-skill="Unskilled">
                                            <img class="item-img" src="systems/saga-machine/images/defaults/skill.svg" title="Unskilled Test" />
                                            <img class="item-img" src="systems/saga-machine/images/d10.svg" title="Unskilled Test" />
                                        </span>
                                        <span class="expandable">Unskilled</span>
                                    </h4>
                                    <div class="item-description">Your character does not have experience in this area. When
                                        making an unskilled test, use only half the value of the relevant stat.</div>
                                </li>
                            {{/if}}
                        </ol>
                    {{else}}
                        <h3 title="{{ ../data.system.experiences.spent_skills }} experiences spent on skills>General Skills</h3>
                        <ol class="items-list skill-list">
                            <li class="item flexrow items-header">
                                <div class="item-name">Name</div>
                                <div class="item-prop">Rank</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="skill" data-system='{"group": "General Skills"}'><i class="fas fa-plus"></i> Add</a>
                                </div>
                            </li>
                            <li class="item flexrow">
                                <h4 class="item-name">
                                    <span class="item-img rollable" data-type="Test" data-stat="strength" data-skill="Unskilled">
                                        <img class="item-img" src="systems/saga-machine/images/defaults/skill.svg" title="Unskilled Test" />
                                        <img class="item-img" src="systems/saga-machine/images/d10.svg" title="Unskilled Test" />
                                    </span>
                                    <span class="expandable">Unskilled</span>
                                </h4>
                                <div class="item-description">Your character does not have experience in this area. When
                                    making an unskilled test, use only half the value of the relevant stat.</div>
                            </li>
                        </ol>
                    {{/each}}
                </div>

                <div class="grid-col">
                    {{#each data.system.trait_groups as |traits|}}
                        <h3 title="{{ ../data.system.experiences.spent_traits }} experiences spent on traits">{{ traits.name }}</h3>
                        <ol class="items-list">
                            <li class="item flexrow items-header">
                                <div class="item-name">Name</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="trait" data-system='{"group": "{{ traits.name }}"}'><i class="fas fa-plus"></i> Add</a>
                                </div>
                            </li>

                            {{#each traits.contents as |trait|}}
                                <li class="item flexrow" data-id="{{ trait._id }}" data-type="Item" data-uuid="{{ trait.uuid }}">
                                    <h4 class="item-name">
                                        <span class="chatable item-img">
                                            <img class="item-img" src="{{ trait.img }}" title="Display {{ trait.name }}" />
                                            <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ trait.name }}" />
                                        </span>
                                        <span class="expandable">{{ trait.system.full_name }}</span>
                                    </h4>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                    </div>
                                    <div class="item-description">{{{ trait.system.description }}}</div>
                                </li>
                            {{/each}}
                        </ol>
                    {{else}}
                        <h3 title="{{ ../data.system.experiences.spent_traits }} experiences spent on traits">General Traits</h3>
                        <ol class="items-list">
                            <li class="item flexrow items-header">
                                <div class="item-name">Name</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="trait" data-system='{"group": "General Traits"}'><i class="fas fa-plus"></i> Add</a>
                                </div>
                            </li>
                        </ol>
                        <h3 title="{{ ../data.system.experiences.spent_traits }} experiences spent on traits">Weaknesses</h3>
                        <ol class="items-list">
                            <li class="item flexrow items-header">
                                <div class="item-name">Name</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="trait" data-system='{"group": "Weaknesses"}'><i class="fas fa-plus"></i> Add</a>
                                </div>
                            </li>
                        </ol>
                    {{/each}}
                </div>
            </div>
		</div>

		<div class="tab combat" data-group="primary" data-tab="combat">
            <div class="initiative">
                <label class="score-label">Turn</label>
                <div class="toggle-switch">
                    <input type="checkbox" name="system.fast_turn" data-dtype="Boolean" {{checked data.system.fast_turn}} />
                    <div class="slider">
                        <span class="on">FAST&nbsp;</span>
                        <span class="off">&nbsp;&nbsp;SLOW</span>
                    </div>
                </div>
                <label class="score-label combat-top rollable" title="Defense Test" data-type="Test" data-score="defense" data-whisper="true" data-consequences='{"type": "defense"}'>Defense <i class="fas fa-shield-alt"></i></label>
            </div>

            <h3>Attacks</h3>
			<ol class="items-list">
				<li class="item attack-row items-header">
					<div class="item-name">Name</div>
                    <div class="item-name">Test / Effect</div>
                    <div class="item-name">Properties</div>
				</li>

				{{#each data.system.attacks as |attack|}}
					<li class="item attack-row" data-type="Item" data-uuid="{{ attack.item.uuid }}">
                        <div class="item-name attack-name">
                            <span class="item-img rollable" data-type="Test" data-stat="{{ attack.stat }}" data-skill="{{ attack.skill }}" data-tn="{{ attack.tn }}" data-properties="{{ attack.properties }}" data-consequences='{{ consequences_string }}'>
                                <img class="item-img" src="{{ attack.item.img }}" title="Test {{ attack.full_name }}" />
                                <img class="item-img" src="systems/saga-machine/images/d10.svg" title="{{ attack.full_name }} Test" />
                            </span>
                            <span class="expandable">{{ attack.full_name }}</span>
                        </div>
                        <div class="item-name attack-effect">{{ attack.label }} {{#if attack.effect }}({{{ attack.effect }}}){{/if}}</div>
                        <div class="item-name attack-properties">{{ attack.properties }}</div>
                        <div class="item-description">{{{ attack.item.system.description }}}</div>
					</li>
				{{/each}}
			</ol>

			<h3>Consequences</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Name</div>
					<div class="item-prop">Value</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="consequence"><i class="fas fa-plus"></i> Add</a>
					</div>
				</li>

				{{#each data.system.consequences as |consequence|}}
					<li class="item flexrow" data-id="{{ consequence._id }}" data-type="Item" data-uuid="{{ consequence.uuid }}">
                        <h4 class="item-name">
                            <span class="chatable item-img">
                                <img class="item-img" src="{{ consequence.img }}" title="Display {{ consequence.system.full_name }}" />
                                <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ consequence.system.full_name }}" />
                            </span>
                            <span class="expandable">{{ consequence.system.full_name }}</span>
                        </h4>
						<input class="item-input item-prop" type="number" data-name="system.rank" value="{{ consequence.system.rank }}" step="1" data-dtype="Number" />
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
                        <div class="item-description">{{{ consequence.system.description }}}</div>
					</li>
				{{/each}}
			</ol>
            <br/>
		</div>

        {{!-- Inventory Tab --}}
        {{>  systems/saga-machine/templates/partials/character-inventory.html}}

        <div class="tab advancement" data-group="primary" data-tab="advancement">
    		<div class="grid grid-3col">
                <div class="grid-span-2 flex-group-left">
                    <h3>Ambitions</h3>
                    <ol class="items-list ambitions-list">
                        <li class="item flexrow items-header">
                            <div class="item-name">Ambition</div>
                            <div class="item-properties">Type</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="ambition"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </li>

                        {{#each data.system.ambitions as |ambition|}}
                            <li class="item flexrow" data-id="{{ ambition._id }}" data-type="Item" data-uuid="{{ ambition.uuid }}">
                                <h4 class="item-name">{{ ambition.name }}</h4>
                                <div class="item-properties">{{ ambition.system.type }}</div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="flex-group-left">
                    <h3>Experiences</h3>
                    <div class="experiences grid grid-2col">
                        <label>Level</label>
                        <input class="experiences-input" type="text" name="system.experiences.level" value="{{ data.system.experiences.level }}" step="1" data-dtype="String" disabled />
                        <label>Total</label>
                        <input class="experiences-input" type="number" name="system.experiences.total" value="{{ data.system.experiences.total }}" step="1" data-dtype="Number" />
                        <label>Spent</label>
                        <span title="Stats: {{ data.system.experiences.spent_stats }} experiences&#10;Skills: {{ data.system.experiences.spent_skills }} experiences&#10;Traits: {{ data.system.experiences.spent_traits }} experiences">
                            <input class="experiences-input" type="number" name="system.experiences.spent" value="{{ data.system.experiences.spent }}" step="1" data-dtype="Number" disabled />
                        </span>
                        <label>Unspent</label>
                        <input class="experiences-input" type="number" name="system.experiences.unspent" value="{{ data.system.experiences.unspent }}" step="1" data-dtype="Number" disabled />
                    </div>
                </div>
            </div>

            <div class="character-notes">
                <h3>Notes</h3>
                {{editor data.system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
            </div>

            {{#if (is_GM) }}
                <div class="gm-notes">
                    <h3>GM Notes</h3>
                    {{editor data.system.gmnotes target="system.gmnotes" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            {{/if}}

            <br/>
    	</div>
    </section>

</form>