<form class="{{cssClass}} stash-sheet" autocomplete="off">
    <header>
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="top-right">
            <h1 class="stash-name"><input name="name" type="text" value="{{ data.name }}" placeholder="Name"/></h1>
            <select class="item-input" name="system.type">
                {{#select data.system.type}}
                    <option value="Stash">Stash</option>
                    <option value="Merchant">Merchant</option>
                {{/select}}
            </select>
            <div class="right">
                <label class="item-label">Total Wealth: {{ data.system.wealth.total }}</label>
                <label class="item-label">Encumbrance: {{ data.system.encumbrance }}</label>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Inventory</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="inventory-top">
                <div class="grid grid-4col">
                    <button class="distribute-money">Distribute Money</button>
                    <div></div>
                    <label class="item-label right" for="system.wealth.money">Money</label>
                    <input class="money-input" type="number" name="system.wealth.money" value="{{ data.system.wealth.money }}" step="1" />
                </div>

                <h3>Equipment</h3>
                <ol class="items-list">
                    <li class="item flexrow items-header">
                        <div class="item-name">Name</div>
                        <div class="item-name">Group</div>
                        <div class="item-prop">Cost</div>
                        <div class="item-prop">Encum</div>
                        <div class="item-prop">Available</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>

                    {{#each data.system.equipment as |item|}}
                        <li class="item flexrow" data-id="{{ item._id }}" data-type="Item" data-uuid="{{ item.uuid }}">
                            <h4 class="item-name">
                                <span class="chatable item-img">
                                    <img class="item-img" src="{{ item.img }}" title="Display {{ item.system.full_name }}" />
                                    <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ item.system.full_name }}" />
                                </span>
                                <span class="expandable">{{ item.system.full_name }}</span>
                            </h4>
                            <h4 class="item-name">{{ item.system.group }}</h4>
                            <input class="item-input item-prop" type="number" name="system.cost" value="{{ item.system.cost }}" step="1" data-dtype="Number" />
                            <input class="item-input item-prop" type="number" name="unit_encumbrance" value="{{ item.unit_encumbrance }}" disabled data-dtype="Number" />
                            <input class="item-input item-prop" type="number" name="system.quantity" value="{{ item.system.quantity }}" step="1" data-dtype="Number" />
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-description">{{{ item.system.description }}}</div>
                        </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor data.system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>