<form class="{{cssClass}} saga-machine vehicle-sheet" autocomplete="off">
    <aside class="sheet-sidebar">
        <img class="system-logo" src="systems/saga-machine/images/theme/saga-machine-logo.png" title="Saga Machine" />
        <div class="sidebar-frame">
            <h3>Scores</h3>
            <div class="score grid grid-2col">
                <div class="stat flex-group-center">
                    <label class="score-label" title="Cost">Handling</label>
                    <select class="score-input" name="system.scores.handling.label" title="Handling" data-dtype="String">
                        {{ selectOptions data.system.VEHICLE_HANDLING selected=data.system.scores.handling.label }}
                    </select>
                </div>
                <div class="score flex-group-center">
                    <label class="score-label">Size</label>
                    <input class="score-input" type="number" name="system.scores.size.value" value="{{ data.system.scores.size.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.size.custom }}disabled{{/unless}} />
                </div>
            </div>
            <div class="score grid grid-3col">
                <div class="score flex-group-center">
                    <label class="score-label">Move</label>
                    <input class="score-input" type="number" name="system.scores.move.value" value="{{ data.system.scores.move.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.move.custom }}disabled{{/unless}} />
                </div>
                <div class="score flex-group-center">
                    <label class="score-label">Defense</label>
                    <input class="score-input" type="number" name="system.scores.defense.tn" value="{{ data.system.scores.defense.tn }}" step="1" data-dtype="Number" {{#unless data.system.scores.defense.custom }}disabled{{/unless}} />
                </div>
                <div class="score flex-group-center">
                    <label class="score-label">Armor</label>
                    <input class="score-input" type="number" name="system.scores.armor.value" value="{{ data.system.scores.armor.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.armor.custom }}disabled{{/unless}} />
                </div>
            </div>

            <div class="scores grid grid-2col">
                <div class="score flex-group-center">
                    <label class="score-label">Space</label>
                    <input class="score-input" type="number" name="system.scores.space.max" value="{{ data.system.scores.space.max }}" step="1" data-dtype="Number" {{#unless data.system.scores.space.custom }}disabled{{/unless}} style="background: linear-gradient(to right, #7272727a 0%, #7272727a {{ data.system.scores.space.percent }}%, rgb(255 255 255 / 5%) {{ data.system.scores.space.percent }}%, rgb(255 255 255 / 5%) 100%);" />
                    <div class="score-secondary" name="system.scores.space.value">Loads {{ data.system.scores.space.value }}</div>
                </div>

                <div class="score flex-group-center">
                    <label class="score-label">Health</label>
                    <input class="score-input" type="number" name="system.scores.health.max" value="{{ data.system.scores.health.max }}" step="1" data-dtype="Number" {{#unless data.system.scores.health.custom }}disabled{{/unless}} style="background: linear-gradient(to right, #ff00007a 0%, #ff00007a {{ data.system.scores.health.percent }}%, rgb(255 255 255 / 5%) {{ data.system.scores.health.percent }}%, rgb(255 255 255 / 5%) 100%);" />
                    <div class="score-secondary" name="system.scores.health.value">Wounds {{ data.system.scores.health.value }}</div>
                </div>
            </div>
        </div>
    </aside>

    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{ data.name }}" placeholder="Name"/></h1>
            <ol class="items-list origins grid grid-4col">
                {{#each data.system.origins as |origin|}}
                    <li class="item flexrow" data-id="{{ origin._id }}" data-type="Item" data-uuid="{{ origin.uuid }}">
                        <h4 class="item-name">{{ origin.system.full_name }}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
                {{#each data.system.paths as |path|}}
                    <li class="item flexrow" data-id="{{ path._id }}" data-type="Item" data-uuid="{{ path.uuid }}">
                        <h4 class="item-name">{{ path.system.full_name }}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Crew</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="inventory">Cargo</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid grid-6col">
                <label class="item-label right" for="system.scores.crew.crewmen">Crew</label>
                <input class="money-input" type="number" name="system.scores.crew.crewmen" value="{{ data.system.scores.crew.crewmen }}" step="1" />
                <label class="item-label right" for="system.scores.crew.passengers">Passengers</label>
                <input class="money-input" type="number" name="system.scores.crew.passengers" value="{{ data.system.scores.crew.passengers }}" step="1" />
                <label class="item-label right" for="system.scores.crew.value">Crew Rating</label>
                <input class="money-input" type="number" name="system.scores.crew.value" value="{{ data.system.scores.crew.value }}" step="1" />
            </div>
            <h3>Positions</h3>
            <ol class="items-list position-list">
                <li class="flexrow items-header position-row">
                    <div class="item-name">Crewman</div>
                    <div class="item-name">Position</div>
                    <div class="item-name">Actions</div>
                    <div class="item-controls">
                        <a class="item-control position-create hidden" title="Create Position"><i class="fas fa-plus"></i> Add</a>
                        <a class="item-control lock-toggle locked" title="Unlock"><i class="fas fa-lock"></i></a>
                    </div>
                </li>

                <li class="flexrow position position-row prototype">
                    <h4 class="item-name character">
                        <span class="item-img">
                            <img class="item-img crewman" src="icons/svg/mystery-man.svg" title="Open Position" />
                        </span>
                        <div class="item-name character-label" title="Drag character to position">Open Position</div>
                        <input name="character" type="hidden" value="">
                        <a class="item-control crew-delete" title="Delete Position"><i class="fas fa-trash"></i></a>
                    </h4>
                    <select class="item-input item-name" name="position" disabled>
                        <option value="Captain">Captain</option>
                        <option value="Driver/Pilot">Driver / Pilot</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Gunner">Gunner</option>
                        <option value="Jammer">Jammer</option>
                        <option value="Marine">Marine</option>
                        <option value="Mechanic">Mechanic</option>
                        <option value="Medic">Medic</option>
                        <option value="Passenger">Passenger</option>
                    </select>
                    <div class="item-name"></div>
                    <div class="item-controls">
                        <a class="item-control position-delete hidden" title="Delete Position"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            </ol>
        </div>

		<div class="tab combat" data-group="primary" data-tab="combat">
            {{#if data.system.is_pc }}
                <nav class="initiative">
                    <div class="grouping turn">
                        <label>Turn</label>
                        <div class="toggle-switch">
                            <input type="checkbox" name="system.fast_turn" data-dtype="Boolean" {{checked data.system.fast_turn}} />
                            <div class="slider">
                                <span class="on">FAST&nbsp;</span>
                                <span class="off">&nbsp;&nbsp;SLOW</span>
                            </div>
                        </div>
                    </div>
                </nav>
            {{/if}}

            {{#each data.system.action_groups as |actions|}}
                <h3>{{ actions.name }}</h3>
                <ol class="items-list">
                    <li class="item flexrow items-header">
                        <div class="item-name">Name</div>
                        <div class="item-name">Crewman</div>
                        <div class="item-name">Source</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create action" data-type="action" data-system='{"group": "{{ actions.name }}"}'><i class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>

                    {{#each actions.contents as |action|}}
                        <li class="item flexrow" data-id="{{ action._id }}" data-type="Item" data-parent-type="{{ action.parent.documentName }}" data-parent-id="{{ action.parent.id }}" data-uuid="{{ action.uuid }}">
                            <div class="item-name action-name">
                                <span class="item-img rollable" data-type="Test" data-stat="{{ action.system.stat }}" data-skill="{{ action.system.skill }}" data-tn="{{ action.system.tn }}" data-modifiers="{{ action.system.modifiers }}" data-properties="{{ action.system.properties }}" data-effects='{{ action.sheet.effects_str }}'>
                                    <img class="item-img" src="{{ action.img }}" title="Test {{ action.name }}" />
                                    <img class="item-img" src="systems/saga-machine/images/d10.svg" title="{{ action.name }} Test" />
                                </span>
                                <span class="expandable">{{ action.name }}</span>
                            </div>
                            <div class="item-name">
                                <select class="action-crewman">
                                    <option value="">General Crew</option>
                                    {{ selectOptions ../../data.system.scores.crew.roster valueAttr="character" labelAttr="label" }}
                                </select>
                            </div>
                            <div class="item-name">{{ action.parent.name }}</div>
                            <div class="item-controls">
                                <a class="item-control action-edit" title="Edit Action"><i class="fas fa-edit"></i></a>
                                <a class="item-control action-delete" title="Delete Action"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-description">{{{ action.system.description }}}</div>
                        </li>
                    {{/each}}
                </ol>
            {{else}}
                <h3>Attacks</h3>
                <ol class="items-list">
                    <li class="item flexrow items-header">
                        <div class="item-name">Name</div>
                        <div class="item-name">Source</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create action" data-type="action" data-system='{"group": "Attacks"}'><i class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>
                </ol>
            {{/each}}

			<h3>Consequences</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Name</div>
					<div class="item-prop">Value</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="consequence"><i class="fas fa-plus"></i> Add</a>
					</div>
				</li>

				{{#each data.system.consequences as |consequence|}}
					<li class="item flexrow" data-id="{{ consequence._id }}" data-type="Item" data-uuid="{{ consequence.uuid }}">
                        <h4 class="item-name">
                            <span class="chatable item-img">
                                <img class="item-img" src="{{ consequence.img }}" title="Display {{ consequence.system.full_name }}" />
                                <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ consequence.system.full_name }}" />
                            </span>
                            <span class="expandable">{{ consequence.system.full_name }}</span>
                        </h4>
						<input class="item-input item-prop" type="number" data-name="system.rank" value="{{ consequence.system.rank }}" step="1" data-dtype="Number" />
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
                        <div class="item-description">{{{ consequence.system.description }}}</div>
					</li>
				{{/each}}
			</ol>
            <br/>
		</div>

        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{#each data.system.equipment_groups as |items|}}
                <ol class="items-list item-group" data-id="{{items.container.id}}" data-name="{{items.name}}" data-encumbrance="{{items.encumbrance}}" data-max="{{items.max}}">
                    <li class="item flexrow items-header" {{#if items.container }}data-id="{{items.container.id}}" data-type="Item" data-uuid="{{items.container.uuid}}"{{/if}}>
                        <div class="item-name">{{ items.name }}{{#if items.container }} ({{ items.encumbrance }}/{{ items.max }}){{/if}}</div>
                        <div class="item-name">{{#if items.container }}{{ items.container.system.properties }}{{else}}Properties{{/if}}</div>
                        <div class="item-prop-expanded">Availability</div>
                        <div class="item-prop">Cost</div>
                        <div class="item-prop">Loads</div>
                        <div class="item-prop">Quantity</div>
                        <div class="item-controls container">
                            {{#if items.container }}
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                <a class="item-control item-create" title="Create item" data-type="item" data-system='{"parent": "{{ items.container.id }}"}'><i class="fas fa-plus"></i> Add</a>
                            {{else}}
                                <a class="item-control item-create" title="Create item" data-type="item" data-system='{"group": "{{ items.name }}", "load": true}'><i class="fas fa-plus"></i> Add</a>
                            {{/if}}
                        </div>
                    </li>
                    {{#each items.contents as |item|}}
                        <li class="item flexrow" data-id="{{ item._id }}" data-type="Item" data-uuid="{{ item.uuid }}">
                            <h4 class="item-name">
                                <span class="chatable item-img">
                                    <img class="item-img" src="{{ item.img }}" title="Display {{ item.system.full_name }}" />
                                    <img class="item-img" src="systems/saga-machine/images/talk.svg" title="Display {{ item.system.full_name }}" />
                                </span>
                                <span class="expandable">{{ item.system.full_name }}</span>
                            </h4>

                            <div class="item-name">{{item.system.properties}}</div>
                            <div class="item-prop-expanded">{{ item.system.availability }}</div>
                            <input class="item-input item-prop" type="number" data-name="system.cost" value="{{ item.system.cost }}" step="1" data-dtype="Number" />
                            <input class="item-input item-prop" type="number" data-name="unit_loads" value="{{ item.system.unit_loads }}" disabled data-dtype="Number" />
                            <input class="item-input item-prop" type="number" data-name="system.quantity" value="{{ item.system.quantity }}" step="1" data-dtype="Number" />
                            <div class="item-controls">
                                {{#if items.container }}
                                    <a class="item-control item-remove" title="Remove Item"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                                {{/if}}
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-description">{{{ item.system.description }}}</div>
                        </li>
                    {{/each}}
                </ol>
            {{else}}
                <ol class="items-list">
                    <li class="item flexrow items-header">
                        <div class="item-name">Name</div>
                        <div class="item-name">Properties</div>
                        <div class="item-prop-expanded">Availability</div>
                        <div class="item-prop">Cost</div>
                        <div class="item-prop">Loads</div>
                        <div class="item-prop">Quantity</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="item" data-system='{"load": true}'><i class="fas fa-plus"></i> Add</a>
                        </div>
                    </li>
                </ol>
            {{/each}}
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            <div class="grid grid-4col">
                <label class="item-label right" for="system.cost">Cost</label>
                <input class="money-input" type="number" name="system.cost" value="{{ data.system.cost }}" step="1" />
                <label class="item-label right" for="system.availability">Availability</label>
                <select class="money-input" name="system.availability">
                    {{ selectOptions data.system.VEHICLE_AVAILABILITY selected=data.system.availability }}
                </select>
            </div>
            <h3>Notes</h3>
            {{editor data.system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>