<form class="flexcol saga-machine {{cssClass}}" autocomplete="off">

    {{!-- Sheet Sidebar --}}
    <aside class="sheet-sidebar">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" height="100" width="100"/>
        <h3>Stats</h3>
		<div class="stats grid grid-4col">
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="strength" title="Strength">Str</label>
				<input class="stat-input" type="number" name="system.stats.strength.value" value="{{ data.system.stats.strength.value }}" title="Strength" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="dexterity" title="Dexterity">Dex</label>
				<input class="stat-input" type="number" name="system.stats.dexterity.value" value="{{ data.system.stats.dexterity.value }}" title="Dexterity" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="speed" title="Speed">Spd</label>
				<input class="stat-input" type="number" name="system.stats.speed.value" value="{{ data.system.stats.speed.value }}" title="Speed" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="endurance" title="Endurance">End</label>
				<input class="stat-input" type="number" name="system.stats.endurance.value" value="{{ data.system.stats.endurance.value }}" title="Endurance" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="intelligence" title="Intelligence">Int</label>
				<input class="stat-input" type="number" name="system.stats.intelligence.value" value="{{ data.system.stats.intelligence.value }}" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="perception" title="Perception">Per</label>
				<input class="stat-input" type="number" name="system.stats.perception.value" value="{{ data.system.stats.perception.value }}" title="Perception" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="charisma" title="Charisma">Chr</label>
				<input class="stat-input" type="number" name="system.stats.charisma.value" value="{{ data.system.stats.charisma.value }}" title="Charisma" step="1" data-dtype="Number" />
			</div>
			<div class="stat flex-group-center">
				<label class="stat-label rollable" data-stat="determination" title="Determination">Det</label>
				<input class="stat-input" type="number" name="system.stats.determination.value" value="{{ data.system.stats.determination.value }}" title="Determination" step="1" data-dtype="Number" />
			</div>
		</div>
        <hr />
        <h3>Scores</h3>
		<div class="scores grid grid-4col">
			<div class="score flex-group-center">
				<label class="score-label">Move</label>
				<input class="score-input" type="number" name="system.scores.move.value" value="{{ data.system.scores.move.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.move.custom }}disabled{{/unless}} />
			</div>
			<div class="score flex-group-center">
				<label class="score-label rollable" data-score="defense">Def</label>
				<input class="score-input" type="number" name="system.scores.defense.value" value="{{ data.system.scores.defense.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.defense.custom }}disabled{{/unless}} />
                <div class="score-secondary" name="system.scores.defense.tn">TN {{ data.system.scores.defense.tn }}</div>
			</div>
			<div class="score flex-group-center">
				<label class="score-label rollable" data-score="willpower">Will</label>
				<input class="score-input" type="number" name="system.scores.willpower.value" value="{{ data.system.scores.willpower.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.willpower.custom }}disabled{{/unless}} />
                <div class="score-secondary" name="system.scores.willpower.tn">TN {{ data.system.scores.willpower.tn }}</div>
			</div>
			<div class="score flex-group-center">
				<label class="score-label">Arm</label>
				<input class="score-input" type="number" name="system.scores.armor.value" value="{{ data.system.scores.armor.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.armor.custom }}disabled{{/unless}} />
			</div>
		</div>

        <div class="scores grid grid-2col">
            <div class="score flex-group-center">
                <label class="score-label">Luck</label>
                <input class="score-input" type="number" name="system.scores.luck.value" value="{{ data.system.scores.luck.value }}" step="1" data-dtype="Number" />
                <div class="score-secondary" name="system.scores.luck.max">Starting {{ data.system.scores.luck.max }}</div>
            </div>

            <div class="score flex-group-center">
                <label class="score-label">Health</label>
                <input class="score-input" type="number" name="system.scores.health.max" value="{{ data.system.scores.health.max }}" step="1" data-dtype="Number" {{#unless data.system.scores.health.custom }}disabled{{/unless}} style="background: linear-gradient(to right, #ff00007a 0%, #ff00007a {{ data.system.scores.health.percent }}%, #0000000d {{ data.system.scores.health.percent }}%, #0000000d 100%);" />
                <div class="score-secondary" name="system.scores.health.value">Wounds {{ data.system.scores.health.value }}</div>
            </div>
        </div>
    </aside>

    {{!-- Sheet Header --}}
    <header class="sheet-header">
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{ data.name }}" placeholder="Name"/></h1>
			<ol class="origins grid grid-4col">
				{{#each data.system.origins as |origin|}}
					<li class="item flexrow" data-id="{{ origin._id }}">
						<h4 class="item-name">{{ origin.system.full_name }}</h4>
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
				{{#each data.system.paths as |path|}}
					<li class="item flexrow" data-id="{{ path._id }}">
						<h4 class="item-name">{{ path.system.full_name }}</h4>
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
            </ol>
		</div>
    </header>
        
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="advancement">Advancement</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
		<div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid">
                <div class="grid-col">
                    <h3>Skills</h3>
                    <ol class="items-list">
                        <li class="item flexrow items-header">
                            <div class="item-name">Name</div>
                            <div class="item-prop">Rank</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </li>

                        {{#each data.system.skills as |skill|}}
                            <li class="item flexrow" data-id="{{ skill._id }}">
                                <h4 class="item-name rollable" data-stat="{{ skill.system.default }}" data-skill="{{ skill.system.full_name }}">
                                    {{ skill.system.full_name }}
                                </h4>
                                <input class="item-input item-prop" type="number" name="system.rank" value="{{ skill.system.rank }}" step="1" data-dtype="Number" />
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="grid-col">
                    <h3>Traits</h3>
                    <ol class="items-list">
                        <li class="item flexrow items-header">
                            <div class="item-name">Name</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="trait"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </li>

                        {{#each data.system.traits as |trait|}}
                            <li class="item flexrow" data-id="{{ trait._id }}">
                                <h4 class="item-name">{{ trait.system.full_name }}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>

                    <h3>Weaknesses</h3>
                    <ol class="items-list">
                        <li class="item flexrow items-header">
                            <div class="item-name">Name</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="weakness"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </li>

                        {{#each data.system.weaknesses as |weakness|}}
                            <li class="item flexrow" data-id="{{ weakness._id }}">
                                <h4 class="item-name">{{ weakness.system.full_name }}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
		</div>
		
		<div class="tab combat" data-group="primary" data-tab="combat">
            <h3>Attacks</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Weapon</div>
					<div class="item-name">Properties</div>
				</li>

				{{#each data.system.attacks as |attack|}}
					<li class="item flexrow" data-id="{{ attack._id }}">
						<h4 class="item-name rollable" data-stat="{{ attack.system.attack.stat }}" data-skill="{{ attack.system.attack.skill }}" data-tn="{{ attack.system.attack.targets }}" data-damage="{{#if attack.system.attack.damage_str}}{{ ../data.system.stats.strength.value }}+{{/if}}{{ attack.system.attack.damage }}">{{ attack.system.full_name }}</h4>
						<div class="item-name">{{ attack.system.properties }}</div>
					</li>
				{{/each}}
			</ol>

			<h3>Consequences</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Name</div>
					<div class="item-prop">Value</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="consequence"><i class="fas fa-plus"></i> Add</a>
					</div>
				</li>

				{{#each data.system.consequences as |consequence|}}
					<li class="item flexrow" data-id="{{ consequence._id }}">
						<h4 class="item-name">{{ consequence.system.full_name }}</h4>
						<input class="item-input item-prop" type="number" name="system.rank" value="{{ consequence.system.rank }}" step="1" data-dtype="Number" />
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
			</ol>
		</div>
	
		<div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="score flex-group-center">
                <label class="score-label">Encumbrance</label>
                <input class="score-input" type="number" name="system.scores.encumbrance.value" value="{{ data.system.scores.encumbrance.value }}" step="1" data-dtype="Number" {{#unless data.system.scores.encumbrance.custom }}disabled{{/unless}} />
            </div>
            <h3>Equipment</h3>
			<ol class="items-list">
				<li class="item flexrow items-header">
					<div class="item-name">Name</div>
					<div class="item-name">Properties</div>
					<div class="item-prop">Quantity</div>
					<div class="item-controls">
						<a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add</a>
					</div>
				</li>

				{{#each data.system.equipment as |item|}}
					<li class="item flexrow" data-id="{{ item._id }}">
						<h4 class="item-name">{{ item.system.full_name }}</h4>
						<div class="item-name">{{item.system.properties}}</div>
						<input class="item-input item-prop" type="number" name="system.quantity" value="{{ item.system.quantity }}" step="1" data-dtype="Number" />
						<div class="item-controls">
                            {{#if (is_weapon item) }}
                                <a class="item-control item-equip {{#unless item.system.equipped }}unequipped{{/unless}}" title="Equip Item"><i class="fa-solid fa-hand-back-fist"></i></a>
                            {{/if}}
                            {{#if (is_armor item) }}
                                <a class="item-control item-equip {{#unless item.system.equipped }}unequipped{{/unless}}" title="Equip Item"><i class="fas fa-tshirt"></i></a>
                            {{/if}}
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
						</div>
					</li>
				{{/each}}
			</ol>
		</div>

        <div class="tab advancement" data-group="primary" data-tab="advancement">
    		<div class="grid grid-3col">
                <div class="grid-span-2 flex-group-left">
                    <h3>Ambitions</h3>
                    <ol class="items-list">
                        <li class="item flexrow items-header">
                            <div class="item-name">Ambition</div>
                            <div class="item-properties">Type</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="ambition"><i class="fas fa-plus"></i> Add</a>
                            </div>
                        </li>

                        {{#each data.system.ambitions as |ambition|}}
                            <li class="item flexrow" data-id="{{ ambition._id }}">
                                <h4 class="item-name">{{ ambition.name }}</h4>
                                <div class="item-properties">{{ ambition.system.type }}</div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="flex-group-left">
                    <h3>Experiences</h3>
                    <div class="experiences grid grid-2col">
                        <label>Total</label>
                        <input class="experiences-input" type="number" name="system.experiences.total" value="{{ data.system.experiences.total }}" step="1" data-dtype="Number" />
                        <label>Spent</label>
                        <input class="experiences-input" type="number" name="system.experiences.spent" value="{{ data.system.experiences.spent }}" step="1" data-dtype="Number" />
                        <label>Unspent</label>
                        <input class="experiences-input" type="number" name="system.experiences.unspent" value="{{ data.system.experiences.unspent }}" step="1" data-dtype="Number" />
                    </div>
                </div>
            </div>

            <fieldset class="character-notes">
                <legend>Notes</legend>
                {{editor data.system.notes target="system.notes" engine="prosemirror" button=true owner=owner editable=editable}}
            </fieldset>

            {{#if (is_GM) }}
                <fieldset class="gm-notes">
                    <legend>GM Notes</legend>
                    {{editor data.system.gmnotes target="system.gmnotes" engine="prosemirror" button=true owner=owner editable=editable}}
                </fieldset>
            {{/if}}
    	</div>
    </section>
    
</form>