<form class="{{cssClass}}" autocomplete="off">
    <div class="item-box">
        <label class="item-label">Name</label>
        <input class="item-input" type="text" name="name" value="{{ data.name }}" />
    </div>
    
    <div class="item-box">
        <label class="item-label">Description</label>
        <input class="item-input" type="text" name="system.description" value="{{ data.system.description }}" />
    </div>
    
    <div class="item-box">
        <label class="item-label">Has Subject</label>
        <input class="item-input" type="checkbox" name="system.specialized" {{ checked data.system.specialized }} />
    </div>
    
    <div class="item-box">
        <label class="item-label">Subject</label>
        <input class="item-input" type="text" name="system.specialization" value="{{ data.system.specialization }}" />
    </div>
    
    <div class="item-box">
        <label class="item-label">Rank</label>
        <input class="item-input" type="number" name="system.rank" value="{{ data.system.rank }}" step="1" />
    </div>
</form>