<form class="{{cssClass}}" autocomplete="off">
    <div class="grid grid-6col item-box">
        <label class="item-label">Name</label>
        <input class="grid-start-2 grid-span-5 item-input" type="text" name="name" value="{{ data.name }}" />
    </div>

    <div class="grid grid-6col item-box">
        <label class="item-label">Specialized?</label>
        <input class="toggle-check item-input" type="checkbox" name="system.specialized" {{checked data.system.specialized}} />
        <label class="toggle-visible item-label">Specialization</label>
        <input class="toggle-visible grid-start-4 grid-span-3 item-input" type="text" name="system.specialization" value="{{ data.system.specialization }}" />
    </div>

    <div class="grid grid-6col item-box">
        <label class="item-label">Rank</label>
        <input class="item-input" type="number" name="system.rank" value="{{ data.system.rank }}" step="1" />
		<label class="grid-start-3 item-label">Default Stat</label>
		<select class="grid-start-4 grid-span-3 item-input" name="system.default">
			{{#select data.system.default}}
				<option value="" data-val="0">--</option>
				<option value="strength">Strength</option>
				<option value="dexterity">Dexterity</option>
				<option value="speed">Speed</option>
				<option value="endurance">Endurance</option>
				<option value="intelligence">Intelligence</option>
				<option value="perception">Perception</option>
				<option value="charisma">Charisma</option>
				<option value="determination">Determination</option>
			{{/select}}
		</select>
    </div>
    
    <div class="item-box">
        <label class="item-label">Description</label>
        <textarea class="item-input" type="text" name="system.description">{{ data.system.description }}</textarea>
    </div>
</form>