<form class="{{cssClass}}" autocomplete="off">
    <div class="grid grid-6col item-box">
        <label class="item-label">Name</label>
        <input class="grid-start-2 grid-span-3 item-input" type="text" name="name" value="{{ data.name }}" />
        <label class="item-label">Cost</label>
        <input class="item-input" type="number" name="system.cost" value="{{ data.system.cost }}" step="1" />
    </div>

    <div class="grid grid-6col item-box">
        <label class="item-label">Specialized</label>
        <input class="toggle-check item-input" type="checkbox" name="system.specialized" {{checked data.system.specialized}} />
        <label class="toggle-visible item-label">Specialization</label>
        <input class="toggle-visible grid-start-4 grid-span-3 item-input" type="text" name="system.specialization" value="{{ data.system.specialization }}" />
    </div>

    <div class="grid grid-6col item-box">
        <label class="item-label">Ranked</label>
        <input class="toggle-check item-input" type="checkbox" name="system.ranked" {{checked data.system.ranked}} />
        <label class="toggle-visible item-label">Rank</label>
        <input class="toggle-visible grid-start-4 grid-span-3 item-input" type="number" name="system.rank" value="{{ data.system.rank }}" step="1" />
    </div>

    <div class="grid grid-6col item-box">
        <label class="item-label">Requirements</label>
        <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.requirements" value="{{ data.system.requirements }}" />
    </div>

    <div class="item-box">
        <label class="item-label">Description</label>
        <textarea class="item-input" type="text" name="system.description">{{ data.system.description }}</textarea>
    </div>
</form>