<form class="flexcol test-dialog {{cssClass}}" autocomplete="off">
    <fieldset>
        <legend>Test Basics</legend>

        <div class="grid grid-6col dialog-box">
            <label>Stat</label>
            <select class="grid-start-2 grid-span-2 dialog-select" name="stat">
                {{ selectOptions STAT_OPTIONS selected=stat }}
            </select>
            <label>or Score</label>
            <select class="grid-start-5 grid-span-2 dialog-select" name="score">
                {{ selectOptions SCORE_OPTIONS selected=score }}
            </select>
        </div>

        <div class="grid grid-6col dialog-box">
            <label>Skill</label>
            <select class="grid-start-2 grid-span-5 dialog-select" name="skill">
                {{#skillSelect skill}}
                    <option value="Unskilled" data-val="0">Unskilled</option>
                    <option value="" data-val="null">--</option>
                    {{#each ../actor.system.all_skills as |sk|}}
                        <option data-id="{{ sk._id }}" value="{{ sk.system.full_name }}" data-val="{{ sk.system.rank }}">{{ sk.system.full_name }}</option>
                    {{/each}}
                {{/skillSelect}}
            </select>
        </div>

	    <div class="grid grid-6col dialog-box">
            <label>TN</label>
            <input class="grid-start-2 grid-span-5 dialog-input" type="text" name="tn" value="{{ tn }}" list="tn-targets" />
            <datalist id="tn-targets">
                <option value="Defense">vs. Defense</option>
                <option value="Willpower">vs. Willpower</option>
                <option value="6">Trivial (TN 6)</option>
                <option value="8">Easy (TN 8)</option>
                <option value="10">Average (TN 10)</option>
                <option value="12">Difficult (TN 12)</option>
                <option value="14">Daunting (TN 14)</option>
                <option value="16">Desperate (TN 16)</option>
                <option value="18">Absurd (TN 18)</option>
                <option value="20">Impossible (TN 20)</option>
            </datalist>
	    </div>
    </fieldset>

    <fieldset>
        <legend>Test Modifiers</legend>
        <div class="dialog-box modifier-tags">
            <input class="dialog-input modifier-tags" type="text" name="modifiers" value="{{ modifiers }}" />
            <p class="hint">To add a boon or bane, type <strong>+</strong> or <strong>-</strong>, separated
                by a comma. For a modifier, type the value. You may optionally prepend a descriptor; for example: "Aim +".</p>
        </div>
    </fieldset>

    <div class="dialog-box hidden">
		<label>Effects</label>
		<input class="dialog-input" type="text" name="effects" value="{{ effects }}" />
	</div>
	
</form>