<form class="{{cssClass}} ambition-sheet" autocomplete="off">
    <header class="item-top">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="grid grid-4col item-box">
            <label class="item-label">Ambition</label>
            <input class="grid-start-2 grid-span-3 item-input" type="text" name="name" value="{{ data.name }}" />
        </div>

        <div class="grid grid-4col item-box">
            <label class="item-label">Type</label>
            <select class="grid-start-2 grid-span-3 item-input" name="system.type">
                {{ selectOptions data.system.AMBITION_TYPES selected=data.system.type}}
            </select>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <span data-tab="basics">Description</span>
    </nav>

    <section class="sheet-body">
        <div class="tab description" data-group="primary" data-tab="basics">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
