<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="item-top">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="item-topright">
            <div class="grid grid-6col item-box">
                <label class="item-label">Name</label>
                <input class="grid-start-2 grid-span-3 item-input" type="text" name="name" value="{{ data.name }}" />
                <label class="item-label">Quantity</label>
                <input class="item-input" type="number" name="system.quantity" value="{{ data.system.quantity }}" step="1" />
            </div>

            <div class="grid grid-6col item-box">
                <label class="item-label">Group</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.group" value="{{ data.system.group }}" list="item-groups" />
                <datalist id="item-groups">
                    <option>Weapons</option>
                    <option>Armors</option>
                    <option>Animals</option>
                    <option>Apparel</option>
                    <option>Computing & Software</option>
                    <option>Containers</option>
                    <option>Food & Accommodations</option>
                    <option>Implants</option>
                    <option>Medical</option>
                    <option>Miscellanea</option>
                    <option>Trade Goods</option>
                    <option>Vehicle Components</option>
                </datalist>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="actions">Actions</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid grid-6col item-box">
                <label class="item-label">TL</label>
                <input class="item-input" type="number" name="system.tl" value="{{ data.system.tl }}" step="1" />
                <label class="item-label">Availability</label>
                <select class="item-input" name="system.availability">
                    {{ selectOptions data.system.ITEM_AVAILABILITY selected=data.system.availability }}
                </select>
                <label class="item-label">Cost</label>
                <input class="item-input" type="number" name="system.cost" value="{{ data.system.cost }}" step="1" />
                <label class="item-label">Properties</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.properties" value="{{ data.system.properties }}" />
                <label class="item-label">Carried</label>
                <input class="item-input" type="checkbox" name="system.carried" {{ checked data.system.carried }} />
                <label class="item-label">Equipped</label>
                <input class="item-input" type="checkbox" name="system.equipped" {{ checked data.system.equipped }} />
                <label class="item-label">Uses</label>
                <input class="item-input" type="number" name="system.uses" value="{{ data.system.uses }}" step="1" />
                <label class="item-label" title="This an entire load of items intended as trade goods">Bulk Load</label>
                <input class="item-input" type="checkbox" name="system.load" {{ checked data.system.load }} />
            </div>
        </div>

        <div class="tab actions" data-group="primary" data-tab="actions">
            <ol class="items-list action-list">
                <li class="item flexrow items-header">
                    <div class="item-name">Name</div>
                    <div class="item-controls action-controls">
                        <a class="item-control item-create" title="Create action" data-type="item"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                {{#each data.system.actions as |action|}}
                    <li class="item action flexrow" data-id="{{@index}}" data-name="{{ action.name }}">
                        <h4 class="item-name action-name flexrow">{{action.name}}</h4>
                        <div class="item-controls action-controls">
                            <a class="item-control action-edit" title="Edit Action"><i class="fas fa-edit"></i></a>
                            <a class="item-control action-delete" title="Delete Action"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>