<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="item-top">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="item-topright">
            <div class="grid grid-6col item-box">
                <label class="item-label">Name</label>
                <input class="grid-start-2 grid-span-3 item-input" type="text" name="name" value="{{ data.name }}" />
                <label class="item-label">Quantity</label>
                <input class="item-input" type="number" name="system.quantity" value="{{ data.system.quantity }}" step="1" />
            </div>

            <div class="grid grid-6col item-box">
                <label class="item-label">Group</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.group" value="{{ data.system.group }}" list="item-groups" />
                <datalist id="item-groups">
                    <option>Weapon</option>
                    <option>Armor</option>
                    <option>Consumable</option>
                    <option>Tool</option>
                    <option>Miscellaneous</option>
                </datalist>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="attacks">Attacks</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid grid-6col item-box">
                <label class="item-label">TL</label>
                <input class="item-input" type="number" name="system.tl" value="{{ data.system.tl }}" step="1" />
                <label class="item-label">Availability</label>
                <select class="item-input" data-name="system.availability">
                    {{#select data.system.availability}}
                        <option value="common">Common</option>
                        <option value="uncommon">Uncommon</option>
                        <option value="rare">Rare</option>
                        <option value="exotic">Exotic</option>
                    {{/select}}
                </select>
                <label class="item-label">Cost</label>
                <input class="item-input" type="number" name="system.cost" value="{{ data.system.cost }}" step="1" />
                <label class="item-label">Properties</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.properties" value="{{ data.system.properties }}" />
                <label class="item-label">Carried</label>
                <input class="item-input" type="checkbox" name="system.carried" {{ checked data.system.carried }} />
                <label class="item-label">Equipped</label>
                <input class="item-input" type="checkbox" name="system.equipped" {{ checked data.system.equipped }} />
            </div>
        </div>

        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <ol class="items-list attack-list">
                <li class="item flexrow items-header attack-row">
                    <div class="item-name">Name</div>
                    <div class="item-name">Stat</div>
                    <div class="item-name">Skill</div>
                    <div class="item-name">Targets</div>
                    <div class="item-name">Properties</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create attack" data-type="item"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                <li class="item flexrow attack attack-row prototype">
                    <input class="item-input item-name" type="text" name="attack_name" value="" placeholder="{{ data.system.full_name }}" />
                    <select class="item-input item-name" name="stat">
                        <option value="">--</option>
                        <option value="strength">Strength</option>
                        <option value="dexterity">Dexterity</option>
                        <option value="speed">Speed</option>
                        <option value="endurance">Endurance</option>
                        <option value="intelligence">Intelligence</option>
                        <option value="perception">Perception</option>
                        <option value="charisma">Charisma</option>
                        <option value="determination">Determination</option>
                    </select>
                    <input class="item-input item-name" type="text" name="skill" value="" />
                    <select class="item-input item-name" name="targets">
                        <option value="">--</option>
                        <option value="Defense">Defense</option>
                        <option value="Willpower">Willpower</option>
                    </select>
                    <input class="item-input item-name" type="text" name="properties" value="" placeholder="{{ data.system.properties }}" />

                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                    <label class="item-effect">Damage</label>
                    <input class="item-input item-name" type="text" name="damage" value="0" />
                    <select class="item-input item-name" name="damage_type">
                        <option value="">--</option>
                        <option value="burn">Burning (burn)</option>
                        <option value="cor">Corrosive (cor)</option>
                        <option value="cut">Cutting (cut)</option>
                        <option value="fat">Fatigue (fat)</option>
                        <option value="fr">Freezing (fr)</option>
                        <option value="pi">Piercing (pi)</option>
                        <option value="sm">Smashing (sm)</option>
                        <option value="tox">Toxic (tox)</option>
                    </select>
                    <label class="item-effect">Consequences</label>
                    <input class="item-input item-name" type="text" name="consequences" value="" />
                </li>
            </ol>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>