<form class="{{cssClass}} path-sheet" autocomplete="off">
    <header class="item-top">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="grid grid-5col item-box">
            <label class="item-label">Name</label>
            <input class="grid-start-2 grid-span-4 item-input" type="text" name="name" value="{{ data.name }}" />
        </div>

        <div class="grid grid-5col item-box">
            <label class="item-label">Requirements</label>
            <input class="grid-start-2 grid-span-4 item-input" type="text" name="system.requirements" value="{{ data.system.requirements }}" />
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid grid-6col item-box">
                <label class="item-label">Stats</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.stats" value="{{ data.system.stats }}" />
            </div>

            <div class="grid grid-6col item-box">
                <label class="item-label">Skills</label>
                <input class="grid-span-5 item-input items-provided" type="text" name="system.skills" value="{{ data.system.skills }}" />
                <div class="grid-span-5 items-provided">{{{ data.system.skills_provided }}}</div>
            </div>

            <div class="grid grid-6col item-box">
                <label class="item-label">Traits</label>
                <input class="grid-span-5 item-input items-provided" type="text" name="system.traits" value="{{ data.system.traits }}" />
                <div class="grid-span-5 items-provided">{{{ data.system.traits_provided }}}</div>
            </div>

            <div class="grid grid-6col item-box">
                <label class="item-label">Equipment</label>
                <input class="grid-span-5 item-input items-provided" type="text" name="system.equipment" value="{{ data.system.equipment }}" />
                <div class="grid-span-5 items-provided">{{{ data.system.equipment_provided }}}</div>
            </div>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>