<form class="{{cssClass}} trait-sheet" autocomplete="off">
    <header class="item-top">
        <img class="profile-img" src="{{ data.img }}" data-edit="img" title="{{ data.name }}" />

        <div class="grid grid-6col item-box">
            <label class="item-label">Name</label>
            <input class="grid-start-2 grid-span-3 item-input" type="text" name="name" value="{{ data.name }}" />
            <label class="item-label">Cost</label>
            <input class="item-input" type="number" name="system.cost" value="{{ data.system.cost }}" step="1" />
        </div>

        <div class="grid grid-6col item-box">
            <label class="item-label">Type</label>
            <input class="item-input grid-span-5" type="text" name="system.type" value="{{ data.system.type }}" list="trait-types"/>
                <datalist id="trait-types">
                    <option>General</option>
                    <option>Weakness</option>
                </datalist>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="basics">Basics</a>
        <a class="item" data-tab="attacks">Attacks</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab basics" data-group="primary" data-tab="basics">
            <div class="grid grid-6col item-box">
                <label class="item-label">Requirements</label>
                <input class="grid-start-2 grid-span-5 item-input" type="text" name="system.requirements" value="{{ data.system.requirements }}" />
            </div>

            <div class="grid grid-5col item-box">
                <label class="item-label">Specialized?</label>
                <input class="toggle-check item-input" type="checkbox" name="system.specialized" {{checked data.system.specialized}} />
                <input class="toggle-visible grid-start-3 grid-span-3 item-input" type="text" name="system.specialization" placeholder="Specialization" value="{{ data.system.specialization }}" />
            </div>

            <div class="grid grid-5col item-box">
                <label class="item-label">Ranked?</label>
                <input class="toggle-check item-input" type="checkbox" name="system.ranked" {{checked data.system.ranked}} />
                <input class="toggle-visible grid-start-3 grid-span-3 item-input" type="number" name="system.rank" placeholder="Rank" value="{{ data.system.rank }}" step="1" />
            </div>
        </div>

        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <ol class="items-list attack-list">
                <li class="item flexrow items-header attack-row">
                    <div class="item-name">Name</div>
                    <div class="item-name">Stat</div>
                    <div class="item-name">Skill</div>
                    <div class="item-name">Targets</div>
                    <div class="item-name">Properties</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create attack" data-type="item"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                <li class="item flexrow attack attack-row prototype">
                    <input class="item-input item-name" type="text" name="attack_name" value="" placeholder="{{ data.system.full_name }}" />
                    <select class="item-input item-name" name="stat">
                        <option value="">--</option>
                        <option value="strength">Strength</option>
                        <option value="dexterity">Dexterity</option>
                        <option value="speed">Speed</option>
                        <option value="endurance">Endurance</option>
                        <option value="intelligence">Intelligence</option>
                        <option value="perception">Perception</option>
                        <option value="charisma">Charisma</option>
                        <option value="determination">Determination</option>
                    </select>
                    <input class="item-input item-name" type="text" name="skill" value="" />
                    <select class="item-input item-name" name="targets">
                        <option value="">--</option>
                        <option value="Defense">Defense</option>
                        <option value="Willpower">Willpower</option>
                    </select>
                    <input class="item-input item-name" type="text" name="properties" value="" placeholder="{{ data.system.properties }}" />

                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                    <label class="item-effect">Damage</label>
                    <input class="item-input item-name" type="text" name="damage" value="0" />
                    <select class="item-input item-name" name="damage_type">
                        <option value="">--</option>
                        <option value="burn">Burning (burn)</option>
                        <option value="cor">Corrosive (cor)</option>
                        <option value="cut">Cutting (cut)</option>
                        <option value="fat">Fatigue (fat)</option>
                        <option value="fr">Freezing (fr)</option>
                        <option value="pi">Piercing (pi)</option>
                        <option value="sm">Smashing (sm)</option>
                        <option value="tox">Toxic (tox)</option>
                    </select>
                    <label class="item-effect">Consequences</label>
                    <input class="item-input item-name" type="text" name="consequences" value="" />
                </li>
            </ol>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            <ol class="items-list effects-list">
                <li class="items-header flexrow">
                    <h4 class="item-name effect-name flexrow">Active Effects</h4>
                    <div class="effect-source">Duration</div>
                    <div class="item-controls effect-controls">
                        <a class="item-control effect-create">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </li>

            {{#each data.effects as |effect|}}
                <li class="item effect flexrow" data-id="{{effect.id}}" data-name="{{ effect.name }}">
                    <h4 class="item-name effect-name flexrow">{{effect.name}}</h4>
                    <div class="effect-duration">{{effect.duration.label}}</div>
                    <div class="item-controls effect-controls">
                        <a class="item-control effect-toggle" title="Effect {{#if effect.disabled}}Disabled{{else}}Activated{{/if}}">
                            <i class="fas {{#if effect.disabled}}fa-times{{else}}fa-check{{/if}}"></i>
                        </a>
                        <a class="item-control effect-edit" title="Edit Effect"><i class="fas fa-edit"></i></a>
                        <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </div>
    </section>
</form>