/*
  FRAMEWORK STYLES
*/

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/*
  SHEET STYLES
*/

#logo {
    content: url(../images/theme/saga-machine-logo.png);
    width: 110px;
}

.saga-machine.actor > section.window-content {
    padding: 0;
    overflow: hidden;
}

.sheet form.saga-machine {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 90px 20px 1fr;
  gap: 0;
  height: 100%;
  background: url(../images/theme/header.jpg), url(../images/theme/background.jpg);
  background-repeat: repeat-x, no-repeat;
  background-size: auto 100px, cover;
  background-attachment: local;
}

.saga-machine .sheet-sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  margin-left: 10px;
  background-image: url(../images/theme/sidebar.jpg), url(../images/theme/sidebar_bottom.png);
  background-repeat: no-repeat;
  background-position: center calc(100% - 60px), center bottom;
  background-size: 190px 100%, 190px 60px;
  padding: 10px;
  color: #dcb95f;
  text-shadow: 2px 2px black;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

.saga-machine .sheet-sidebar .grid {
  gap: 5px;
}

img.system-logo {
  border: none;
}

.saga-machine .sheet-sidebar h3 {
  text-align: center;
  border-bottom: 1px solid #dcb95f;
}

.saga-machine .sheet-sidebar input {
  color: #dcb95f;
  border: 1px solid #8e7944;
  text-shadow: 2px 2px black;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

.saga-machine .sheet-sidebar input:disabled {
  color: #b09348;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}

.saga-machine .sheet-sidebar hr {
  opacity: 0;
}

.saga-machine label.stat-label,
.saga-machine label.score-label {
  font-weight: bold;
}

.saga-machine .sheet-sidebar .rollable:hover,
.saga-machine .sheet-sidebar .rollable:focus,
.saga-machine .sheet-header .rollable:hover,
.saga-machine .sheet-header .rollable:focus {
    color: #eecf80;
    text-shadow: 0 0 10px rgb(255 255 255 / 80%);
    cursor: pointer;
}

.saga-machine .rollable:hover, .rollable:focus {
    color: #eecf80;
    text-shadow: 0 0 10px rgba(238, 207, 128, 1);
    cursor: pointer;
}

.saga-machine input[type="number"].stat-input,
.saga-machine input[type="number"].score-input {
  font-size: 1.9em;
  height: 1.5em;
}

.saga-machine input[type="text"]:focus,
.saga-machine input[type="number"]:focus,
.saga-machine input[type="password"]:focus,
.saga-machine input[type="date"]:focus,
.saga-machine input[type="time"]:focus,
.saga-machine input[type="search"]:focus {
    box-shadow: 0 0 5px rgb(255 255 255 / 80%);
}

.saga-machine .score-secondary {
  font-size: 0.8em;
}

.saga-machine input[disabled] {
  pointer-events: none;
}

.saga-machine progress {
  width: 100%;
  background-color: transparent;
  height: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.saga-machine progress::-webkit-progress-value {
    background-color: rgba(17, 17, 74, 0.8);
    border-radius: 5px;
}

.saga-machine progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.05);
}

.saga-machine .item-form {
  font-family: "Roboto", sans-serif;
}

.saga-machine .sheet-header {
  height: 90px;
  overflow: hidden;
  padding: 0 10px 0 10px;
  color: #dcb95f;
  text-shadow: 2px 2px black;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

.saga-machine header.sheet-header > img.profile-img {
  height: 100px;
  width: 100px;
  max-height: 100px;
  max-width: 100px;
  margin-right: 0px;
  position: absolute;
  right: 10px;
  top: 34px;
  z-index: 1;
  border: #dcb95f 1px solid;
  background-color: rgba(0, 0, 0, 0.25);
}

.saga-machine .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.saga-machine .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.saga-machine .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #dcb95f;
  text-shadow: 2px 2px black;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  border: none;
  background: transparent;
}

.saga-machine .sheet-header .item-controls {
  font-size: 0.7em;
  padding-top: 3px;
}

.saga-machine > nav.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  align-items: center;
  height: 20px;
  background: #11114a;
  box-shadow: 0 -1px 1px rgb(0 0 0 / 25%);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0px;
  padding: 0 110px 0 0;
  color: #dcb95f;
  text-shadow: 2px 2px black;
  text-rendering: optimizeLegibility;
}

.saga-machine .tabs .item.active {
  text-shadow: black 2px 2px 3px;
  color: #f2d898;
}

.saga-machine .sheet-body {
  height: 100%;
  position: relative;
  padding: 0 10px 0 10px;
  overflow: auto;
}

.saga-machine .sheet-body .tab {
  height: calc(100% - 20px);
}

.saga-machine .sheet-body .tab.combat,
.saga-machine .sheet-body .tab.inventory {
  padding-top: 10px;
}

.saga-machine.sheet .editor-content {
    padding: 5px;
}

.saga-machine.sheet .editor-edit {
  top: 10px;
  right: 10px;
}

.saga-machine.sheet .prosemirror menu .pm-dropdown {
  background: rgba(255, 255, 255, 0.4);
}

.saga-machine .prosemirror menu button:hover,
.saga-machine .prosemirror menu button.active {
  background: rgba(255, 255, 255, 0.4);
}

.saga-machine .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.saga-machine .items-header > * {
  font-size: 14px;
  text-align: center;
}
.saga-machine .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.saga-machine .items-list {
  list-style: none;
  margin: 0 0 27px 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.saga-machine .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.saga-machine .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.saga-machine .items-list .item-name h3, .saga-machine .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.saga-machine .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.saga-machine .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.saga-machine .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
  min-height: 27px;
}
.saga-machine .items-list .item:last-child:not(.items-header) {
  border-bottom: none;
}
.saga-machine .items-list .item .item-name {
  color: #191813;
}
.saga-machine .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.saga-machine .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  max-width: 50px;
}
.saga-machine .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.saga-machine .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.saga-machine .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.saga-machine .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}
.saga-machine .effects .item .effect-source,
.saga-machine .effects .item .effect-duration,
.saga-machine .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.saga-machine .effects .item .effect-controls {
  border: none;
}

.saga-machine fieldset legend {
  font-size: 1.25em;
}

.saga-machine .ambitions-list {
  margin: 0;
}

.saga-machine .character-notes > .editor,
.saga-machine .gm-notes > .editor {
  background-color: rgba(0,0,0,0.05);
  height: 200px;
}

.saga-machine .character-notes {
  margin-bottom: 15px;
}

.saga-machine .hidden {
  display: none;
}

.saga-machine .toggle-check:checked~.toggle-visible {
  visibility: visible;
}

.saga-machine .toggle-check:checked~.toggle-display {
  display: grid;
}

.saga-machine .toggle-visible {
  visibility: hidden;
}

.saga-machine .toggle-display {
  display: none;
}

.saga-machine textarea.item-input {
  min-height: 100px;
  height: auto;
  resize: none;
}

.saga-machine .unequipped {
  color: rgba(0, 0, 0, 0.4);
}

.saga-machine header.item-top {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 15px;
}

.saga-machine .inventory-top {
  height: calc(100% - 35px);
  overflow: auto;
}

.saga-machine .score.encumbrance {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

.initiative {
  margin-bottom: 20px;
}

/* Toggle Switch */

.toggle-switch .knobs,
.toggle-switch .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
  overflow: hidden;
  top: 4px;
}

.toggle-switch.r,
.toggle-switch.r .layer {
  border-radius: 100px;
}

.toggle-switch .toggle-check {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.toggle-switch .knobs {
  z-index: 2;
}

.toggle-switch .layer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
  z-index: 1;
}

.toggle-switch .knobs:before {
  content: "Slow";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 13px;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  line-height: 1;
  padding: 1px;
  background-color: #dcb95f;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  text-shadow: none;
  letter-spacing: -0.05em;
}

.toggle-switch .toggle-check:checked + .knobs:before {
  content: "Fast";
  left: 26px;
  background-color: #dcb95f;
}

.toggle-switch .toggle-check:checked ~ .layer {
  background-color: rgba(0, 0, 0, 0.1);
}

.toggle-switch .knobs,
.toggle-switch .knobs:before,
.toggle-switch .layer {
  transition: 0.3s ease all;
}

